/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #009999, #1D7373);
    color: #000; /* Змінено колір тексту на чорний */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.photo {
    margin: 10px;
    text-align: center;
}

.photo img {
    width: 200px; 
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.photo p {
    margin-top: 5px;
}
